.cover_wrapper {
    width: 100%;
    min-height: 100vh;
    background: url("..//Pictures/cover.png") no-repeat bottom right;
    background-size: cover;
}

.cover-text {
    position: relative;
    color: white;
    font-size: 3rem;
    text-shadow: black 2px 2px;
    top: 25%;
    left: 10%;
    font-weight: 400;
    font-style: italic;
    width: max-content;
}

@media (max-width: 768px) {
    .cover-text {
        font-size: 1rem;
}
}

 /* @media not all and (hover:hover) {
    .cover_wrapper{
        height: var(--app-height);
    }
    } */