/*! blocks styles */
.first-block-wrapper {
  margin-top: 60px;
}

.last-block-wrapper {
  margin-bottom: 60px;
}

.block-body {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  color: var(--text-main);
}

.fade-in {
  opacity: 0;
  transition: opacity 250ms ease-in;
}

.fade-in.appear {
  opacity: 1;
}

/* decorative elements */
.vl {
  display: inline-block;
  width: 6px;
  height: 100%;
  display: inline-grid;
  left: 50%;
}

.first-point-blank {
  background-color: var(--bg-main);
  z-index: 2;
  margin: -5px 0 0 -10px;
  box-shadow: 0 0 3px 2px aliceblue;
  border-radius: 50%;
  display: inline;
  height: 25px;
  width: 25px;
}

.last-point-blank {
  background-color: var(--bg-main);
  z-index: 2;
  bottom: 0;
  margin-left: -1px;
  box-shadow: 0 0 3px 2px aliceblue;
  border-radius: 50%;
  display: inline;
  height: 25px;
  width: 25px;
  position: absolute;
}

/* text elements */
.date-wrapper {
  max-width: 500px;
  display: inline-grid;
  margin: 10px 0 10px 0;
}

.date-text_wrapper {
  justify-self: end;
  margin-right: 5px;
}

.date-text {
  font-size: 1.8rem;
}

.text {
  color: var(--text-main);
  font-size: 1rem;
}

.text-point {
  display: grid;
}

.point-text {
  display: inline-grid;
  justify-self: center;
  margin-top: 10px;
}

.last-text {
  display: inline-grid;
  justify-self: center;
  margin-top: 40px;
}

.event-wrapper {
  display: inline-grid;
  margin: 30px 0 20px -40px;
  justify-self: start;
  align-self: center;
}

.event-text {
  padding-bottom: 20px;
}

/* ! picture style */

.picture {
  max-width: 400px;
  height: 100%;
  margin: 10px;
  /* background: var(--polaroid-bg);
  padding: 1rem; */
  /* box-shadow: 0 0.6rem 2.2rem rgba(0, 0, 0, 0.2); */
}

.picture:hover {
  transform: scale(1.8, 1.8) !important;
  transition: all 0.35s;
  z-index: 10;
}

/* Adaptation */

@media (min-width: 1600px) {
  .vl {
    width: 10px;
  }
  .point-wrapper {
    height: 35px;
    width: 35px;
    margin-left: -13px;

  }
}

@media (min-width: 1600px) {
  .event-box {
    max-width: 1300px;
  }

  .date-wrapper {
    margin: 10px -80px 10px 0;
  }

  .event-wrapper {
    margin: 30px 0 20px -60px;
  }

  .picture {
    max-width: 800px;
    padding: 1.5rem;
  }

  .text {
    font-size: 1.1rem;
  }

  .date-text {
    font-size: 2.15rem;
  }

}


@media (max-width: 1200px) {
  .date-wrapper {
    padding-left: 25px;
  }

  .event-wrapper {
    padding-right: 25px;
  }

  .text {
    font-size: 0.9rem;
  }
}

@media (max-width: 1000px) {

  .date-wrapper {
    margin: 30px -70px 0 0;
  }

  .event-wrapper {
    margin: 30px 0 20px -100px;
  }
}

@media (max-width: 960px) {

  .footer_wrapper {
    margin: 0px 0 30px 0;
  }
}

@media (max-width: 940px) {
  .date-wrapper {
    margin: 30px -80px 0 0;
  }

  .text {
    font-size: 0.8rem;
  }

  .date-text {
    font-size: 1.6rem;
  } 
  
  .info-group {
    padding-left: 10px;
  }
}

@media (max-width: 919px) {
  .support {
    margin-top: 23px;
  }

  .logo {
    margin-left: 20px;
  }

  .support .logo{
    margin-right: 0;
  }

  .logo-first{
    margin-left: 0;
  }

}

@media (max-width: 795px) {
  .text {
    font-size: 0.65rem;
  }

  .date-text {
    font-size: 1.25rem;
  }

}

@media (max-width: 740px) {
  .date-wrapper {
    padding: 0;
    margin: 15px -90px 0 10px;
  }

  .event-wrapper {
    margin: 5px 15px 5px -70px;
  }

  .text {
    font-size: 0.64rem;
  }

  .date-text {
    font-size: 1.2rem;
  }
}

@media (max-width: 700px) {
  .cover_wrapper {
    background: url("..//Pictures/cover_clipped.png") no-repeat bottom right;
    background-size: cover;
}
}


@media (max-width: 660px) {
  .picture {
    max-width: 280px;
    padding: 0.6rem;
  }

  .point-wrapper {
    height: 20px;
    width: 20px;
    margin-left: -7px;
  }

  .text {
    font-size: 0.6;
  }

  .footer_text {
    font-size: 0.50rem;
  }

  .support {
    margin-top: 21px;
  }

}

@media (max-width: 630px) {
  .vl {
    width: 5px;
  }

  .date-wrapper {
    margin: 15px -70px 0 10px;
  }

  .event-wrapper {
    margin: 5px 15px 5px -60px;
  }
  
  .first-block-wrapper {
    margin-top: 40px;
  }

  .last-block-wrapper {
    margin-bottom: 40px;
  }

  .support .logo{
    margin-right: 0;
  }
}

@media (max-width: 560px) {
  .picture {
    max-width: 250px;
    padding: 0.6rem;
  }

  .event-wrapper {
    margin: 5px 0 5px -50px;
  }

  .date-text {
    font-size: 1.15rem;
  }
  
  .project-desciption {
    padding: 0 10px 0 20px;
  }

  .support {
    padding: 0 10px 0 20px;
    margin-top: 19px;
  }

  .footer_text {
    font-size: 0.45rem;
  }

  .logo {
    width: 20px;
    margin: 0 12px 0 0;
  }

  .logo-info .logo {
    margin-left: 20px;
  }

  .support .logo{
    margin-right: 10px;
  }

  .footer_wrapper {
    margin: 0 0 10px 0;
  }
}

@media (max-width: 500px) {
  .project-date {
    position: relative;
    top: -15px;
  }

  .project-date {
    text-align: end;
    padding-right: 15%;
  }
}

@media (max-width: 490px) {

  .first-block-wrapper {
    margin-top: 30px;
  }

  .last-block-wrapper {
    margin-bottom: 30px;
  }

  .picture {
    padding: 0.5rem;
  }

  .point-wrapper {
    height: 18px;
    width: 18px;
    margin-left: -7px;
  }
  .point-wrapper.fixed {
    height: 18px;
    width: 18px;
    margin-left: -7px;
    box-shadow: 0 0 6px 2px aliceblue;
  }

  .date-wrapper {
    margin: 15px -60px 0 5px;
  }

  .event-wrapper {
    margin: 0 0 0 -40px;
  }
}

@media (max-width: 470px) {
  .date-wrapper {
    margin: 15px -60px 10px 5px;
  }

  .text {
    font-size: 0.55rem;
  }
}

@media (max-width: 440px) {
  .date-text {
    font-size: 1.1rem;
  }

  .text {
    font-size: 0.5rem;
  }

  .vl {
    width: 4px;
  }

  .point-wrapper.fixed {
    height: 16px;
    width: 16px;
    margin-left: -7px;
    box-shadow: 0 0 6px 2px aliceblue;
  }

  .logo-info .logo {
    margin-right: 10px;
  }

/*   
  .cover_wrapper {
    background: url("..//Pictures/cover_mobile.png") no-repeat fixed bottom right;
    background-size: cover; */
  /* } */
}

@media (max-width: 430px) {
  .date-wrapper {
    margin: 15px -50px 10px 10px;
  }

  .picture {
    padding: 0.4rem;
    margin: 5px;
  }
}

@media (max-width: 400px) {
  .date-text {
    font-size: 1rem;
  }

  .text {
    font-size: 0.45rem;
  }

  .logo-info .logo {
    margin: 0 5px 0 10px;
  }

  .support {
    margin-left: -30px;
    margin-right: 10px;
  }
}

@media (max-width: 390px) {
  .event-box {
    overflow-x: hidden;
  }

  .event-wrapper {
    margin: 0 10px 10px -40px;
    padding: 0 10px 0 0;
  }

  .date-wrapper {
    margin: 10px -50px 0 10px;
  }

  .footer_wrapper {
    margin: 0;
  }
}

@media (max-width: 380px) {
  .text {
    font-size: 0.4rem;
  }

  .date-text {
    font-size: 0.9rem;
  }
}

@media (max-width: 370px) {
  .picture {
    max-width: 150px;
  }

  .first-block-wrapper {
    margin-top: 20px;
  }

  .last-block-wrapper {
    margin-bottom: 20px;
  }
}

@media (max-width: 360px) {
  .picture {
    max-width: 140px;
  }
    .text {
    font-size: 0.39rem;
  }
 
  .logo {
    width: 18px;
  }

  .footer_text{
    font-size: 0.3rem;
  }

  .support {
    margin-top: 13px;
  }

  .project-date {
      top: -5%;
  }
}


@media (max-width: 350px) {
  .event-wrapper {
    margin: 0 10px 10px -40px;
    padding: 0 10px 0 0;
  }

  .date-wrapper {
    margin: 10px -40px 0 10px;
  }

  .text-point {
    margin: 0 0 0 -30px;
  }

  .project-date {
    text-align: start;
    padding-left: 20px;
  }

  .project-date {
    top: -7%;
}
}

@media (max-width: 340px) {
  .text-point {
    margin: 0 0 0 -40px;
  }

}

@media (max-width: 330px) {
  .event-wrapper {
    margin: 0 10px 10px -35px;
  }

  .text {
    font-size: 0.35rem;
  }

  .point-wrapper.fixed {
    height: 14px;
    width: 14px;
    box-shadow: 0 0 5px 2px aliceblue;
  }
}

@media (max-width: 320px) {
  .logo {
    width: 15px;
  }
}

@media (max-width: 305px) {
  .event-box {
    overflow-x: visible;
  }

}
