@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');

/*! blocks styles */
.first-block-wrapper {
  margin-top: 60px;
}

.last-block-wrapper {
  margin-bottom: 60px;
}

.block-body {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  color: var(--text-main);
}

.fade-in {
  opacity: 0;
  transition: opacity 250ms ease-in;
}

.fade-in.appear {
  opacity: 1;
}

/* decorative elements */
.vl {
  display: inline-block;
  width: 6px;
  height: 100%;
  display: inline-grid;
  left: 50%;
}

.first-point-blank {
  background-color: var(--bg-main);
  z-index: 2;
  margin: -5px 0 0 -37%;
  box-shadow: 0 0 3px 2px aliceblue;
  border-radius: 50%;
  display: inline;
  height: 25px;
  width: 25px;
}

/* text elements */
.date-wrapper {
  max-width: 500px;
  display: inline-grid;
  margin: 10px 0 10px 0;
}

.date-text_wrapper {
  justify-self: end;
  margin-right: 5px;
}

.date-text {
  font-size: 1.8rem;
  font-family: "Montserrat", sans-serif;
}

.text {
  color: var(--text-main);
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
}

.text-point {
  display: grid;
}

.point-text {
  display: inline-grid;
  justify-self: center;
  margin-top: 10px;
}

.last-text {
  display: inline-grid;
  justify-self: center;
  margin-top: 40px;
}

.event-wrapper {
  display: inline-grid;
  margin: 30px 0 20px -40px;
  justify-self: start;
  align-self: center;
}

.event-text {
  padding-top: 40px;
}

.video-event {
  padding-bottom: 20%;
}

.video-date {
  margin-bottom: 5%;
  width: 100%;
  justify-items: end;
  text-align: end;
  position: relative;
  right: -50%;
}

/* ! objects style */

.picture {
  max-width: 400px;
  height: 100%;
  margin: 10px;
  /* background: var(--polaroid-bg);
  padding: 1rem; */
  /* box-shadow: 0 0.6rem 2.2rem rgba(0, 0, 0, 0.2); */
}

.video-container {
  margin: 0 -40% 10px -40%;
  position: relative;
  padding-bottom: 100%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;
}

@media (min-width: 1400px) {
  .picture:hover {
    transform: scale(1.8, 1.8) !important;
    transition: all 0.35s;
    z-index: 10;
  }
}

/* Responsive */

@media (min-width: 1600px) {
  .vl {
    width: 10px;
  }
  .point-wrapper {
    height: 35px;
    width: 35px;
    margin-left: -13px;
  }

  .first-point-blank {
    height: 35px;
    width: 35px;
  }
}

@media (min-width: 1600px) {

  .video-container {
    margin: 0 -35% -30px -35%;
  }

  .event-box {
    max-width: 1300px;
  }

  .date-wrapper {
    margin: 10px -80px 10px 0;
  }

  .event-wrapper {
    margin: 30px 0 20px -60px;
  }

  .picture {
    max-width: 800px;
    padding: 1.5rem;
  }

  .text {
    font-size: 1.1rem;
  }

  .date-text {
    font-size: 2.15rem;
  }
}

@media (max-width: 1200px) {
  .date-wrapper {
    padding-left: 25px;
  }

  .video-container {
    margin: 0 -30% -30px -30%;
  }

  .video-container iframe,
  .video-container object,
  .video-container embed {
    height: 80%;
  }

  .event-wrapper {
    padding-right: 25px;
  }

  .text {
    font-size: 0.9rem;
  }

  .icon-position {
    bottom: 70px;
  }

  .video-date {
    right: -35%;
  }
}

@media (max-width: 1130px) {
  .cover-text {
    font-size: 2.5rem;
  }
}

@media (max-width: 1080px) {
  .video-container {
    margin: 0 -25% -30px -25%;
  }

  .video-date {
    right: -30%;
  }
}

@media (max-width: 1000px) {
  .date-wrapper {
    margin: 30px -70px 0 0;
  }

  .event-wrapper {
    margin: 30px 0 20px -100px;
  }

  .video-container {
    margin: 0 -40% -30px -40%;
  }

  .video-date {
    right: -45%;
  }
}

@media (max-width: 960px) {
  .footer_wrapper {
    margin: 0px 0 30px 0;
  }

  .cover-text {
    font-size: 2rem;
  }
  
}

@media (max-width: 940px) {

  .video-container {
    margin: 0 -50% -30px -50%;
  }

  .date-wrapper {
    margin: 30px -80px 0 0;
  }

  .text {
    font-size: 0.8rem;
  }

  .date-text {
    font-size: 1.6rem;
  }

  .info-group {
    padding-left: 10px;
  }

  .video-date {
    right: -55%;
  }

  .video-container iframe,
  .video-container object,
  .video-container embed {
    height: 90%;
  }
}

@media (max-width: 919px) {
  .support {
    margin-top: 23px;
  }

  .logo {
    margin-left: 20px;
  }

  .support .logo {
    margin-right: 10px;
  }

  .logo-first {
    margin-left: 0;
  }

  .icon-position {
    bottom: 60px;
    right: 20px;
  }

  .icon-style {
    height: 40px;
    width: 40px;
  }

  .footer_wrapper {
    margin: 10px 0 10px 0;
  }

  .video-container {
    margin: 0 -40% -30px -40%;
  }

  .video-date {
    right: -45%;
  }
}

@media (max-width: 795px) {
  .text {
    font-size: 0.65rem;
  }

  .date-text {
    font-size: 1.25rem;
  }

  .cover-text {
    font-size: 1.5rem;
  }

  .video-container {
    margin: 0 -55% -30px -55%;
  }

  .video-date {
    right: -60%;
  }
}

@media (max-width: 740px) {
  .date-wrapper {
    padding: 0;
    margin: 15px -90px 0 10px;
  }

  .video-container {
    margin: 0 -60% 0 -60%;
  }

  .event-wrapper {
    margin: 5px 15px 5px -70px;
  }

  .text {
    font-size: 0.64rem;
    font-family: "Oswald", sans-serif;
  }

  .date-text {
    font-size: 1.2rem;
    font-family: "Montserrat", sans-serif;
  }

  .video-date {
    right: -65%;
  }
}

@media (max-width: 700px) {
  .cover_wrapper {
    background: url("..//Pictures/cover_clipped.png") no-repeat bottom right;
    background-size: cover;
  }

  .video-container {
    margin: 0 -55% 0 -55%;
  }

  .support .logo {
    margin-right: 0;
  }
}

@media (max-width: 660px) {
  .picture {
    max-width: 280px;
    padding: 0.6rem;
  }

  .video-container {
    margin: 0 -40% -30px -40%;
  }

 .date-text {
    position:relative;
    right: 15%;
  }

  .video-date {
    right: -45%;
  }

  .video-container iframe,
  .video-container object,
  .video-container embed {
    height: 80%;
  } 

  .point-wrapper {
    height: 20px;
    width: 20px;
    margin-left: -7px;
  }

  .first-point-blank {
    margin: -5px 0 0 -7px;
    height: 20px;
    width: 20px;
  }

  .text {
    font-size: 0.6;
  }

  .footer_text {
    font-size: 0.5rem;
  }

  .support {
    margin-top: 21px;
  }
}

@media (max-width: 630px) {
  .cover-text {
    font-size: 1.2rem;
  }

  .video-container iframe,
.video-container object,
.video-container embed {
  max-height: 70%;
}

  .video-container {
    margin: 0 -30% -30px -30%;
  }

  .vl {
    width: 5px;
  }

  .date-wrapper {
    margin: 15px -70px 0 10px;
  }

  .event-wrapper {
    margin: 5px 15px 5px -60px;
  }

  .first-block-wrapper {
    margin-top: 40px;
  }

  .last-block-wrapper {
    margin-bottom: 40px;
  }

  .support-text {
    margin-left: 10px;
  }

  .video-date {
    right: -35%;
  }
}

@media (max-width: 600px) {
  .video-container {
    margin: 0 -25% -30px -25%;
  }

  .video-date {
    right: -30%;
  }
}

@media (max-width: 560px) {
  .cover-text {
    top: 30%;
  }

  .picture {
    max-width: 250px;
    padding: 0.6rem;
  }

  .event-wrapper {
    margin: 5px 0 5px -50px;
  }

  .date-text {
    font-size: 1.15rem;
  }

  .project-desciption {
    padding: 0 10px 0 20px;
  }

  .support {
    padding: 0 10px 0 20px;
    margin-top: 19px;
  }

  .footer_text {
    font-size: 0.45rem;
  }

  .logo {
    width: 20px;
    margin: 0 12px 0 0;
  }

  .logo-info .logo {
    margin-left: 20px;
  }

  .support .logo {
    margin-right: 10px;
  }

  .footer_wrapper {
    margin: 0 0 10px 0;
  }
}

@media (max-width: 530px) {
  .video-container {
    margin: 0 -20% -30px -20%;
  }

  .video-date {
    right: -25%;
  }

  .video-container iframe,
  .video-container object,
  .video-container embed {
    height: 65%;
  }
}

@media (max-width: 500px) {
  .project-date {
    position: relative;
    top: -15px;
  }

  .logo .support {
    margin-left: 10px;
  }

  .video-date {
    right: -20%;
  }

  .video-container {
    margin: 0 -15% -30px -15%;
  }

  .project-date {
    text-align: end;
    padding-right: 15%;
  }

  .video-container iframe,
  .video-container object,
  .video-container embed {
    height: 60%;
  }
}

@media (max-width: 490px) {
  .cover-text {
    font-size: 1rem;
    top: 39%;
  }

  .first-block-wrapper {
    margin-top: 30px;
  }

  .last-block-wrapper {
    margin-bottom: 30px;
  }

  .picture {
    padding: 0.5rem;
  }

  .point-wrapper {
    height: 18px;
    width: 18px;
    margin-left: -7px;
  }

  .first-point-blank {
    margin: -5px 0 0 -6px;
    height: 18px;
    width: 18px;
  }

  .point-wrapper.fixed {
    height: 18px;
    width: 18px;
    margin-left: -7px;
    box-shadow: 0 0 6px 2px aliceblue;
  }

  .date-wrapper {
    margin: 15px -60px 0 5px;
  }

  .event-wrapper {
    margin: 0 0 0 -40px;
  }

  .footer_wrapper {
    margin: 0 10px 5px 0;
  }
}

@media (max-width: 470px) {
  .date-wrapper {
    margin: 15px -60px 10px 5px;
  }

  .video-container {
    margin: 0 -15% -40px -15%;
  }

  .text {
    font-size: 0.55rem;
  }

  .project-date {
    display: none;
  }
}

@media (max-width: 440px) {
  .date-text {
    font-size: 1.1rem;
  }

  .video-date {
    right: -15%;
  }

  .text {
    font-size: 0.5rem;
  }

  .vl {
    width: 4px;
  }

  .video-container {
    margin: 0 -12% -40px -12%;
  }

  .video-container iframe,
  .video-container object,
  .video-container embed {
    height: 55%;
  }

  .point-wrapper.fixed {
    height: 16px;
    width: 16px;
    margin-left: -7px;
    box-shadow: 0 0 6px 2px aliceblue;
  }

  .first-point-blank {
    margin: -5px 0 0 -6px;
    height: 16px;
    width: 16px;
  }

  .logo-info .logo {
    margin-right: 10px;
  }
}

@media (max-width: 430px) {
  .date-wrapper {
    margin: 15px -50px 10px 10px;
  }

  .picture {
    padding: 0.4rem;
    margin: 5px;
  }

  .icon-position {
    bottom: 50px;
    right: 10px;
  }

  .icon-style {
    height: 35px;
    width: 35px;
  }

  .date-text {
    right: 5%;
  }

  .video-date {
    right: -15%;
  }
}

@media (max-width: 400px) {
  .cover-text {
    font-size: 0.8rem;
  }
  .date-text {
    font-size: 1rem;
  }

  .support-text {
    margin-left: 0;
  }

  .text {
    font-size: 0.45rem;
  }

  .logo-info .logo {
    margin: 0 5px 0 10px;
  }

  .support {
    margin-left: -30px;
    margin-right: 10px;
  }

  .date-text {
    right: 10%;
  }

  .video-date {
    right: -15%;
  }
}

@media (max-width: 390px) {
  .event-box {
    overflow-x: hidden;
  }

  .event-wrapper {
    margin: 0 10px 10px -40px;
    padding: 0 10px 0 0;
  }

  .date-wrapper {
    margin: 10px -50px 0 10px;
  }

  .footer_wrapper {
    margin: 0;
  }

  .video-container iframe,
  .video-container object,
  .video-container embed {
    max-height: 70%;
  }
}

@media (max-width: 380px) {
  .text {
    font-size: 0.4rem;
  }

  .date-text {
    font-size: 0.9rem;
  }
}

@media (max-width: 370px) {
  .picture {
    max-width: 150px;
  }

  .first-block-wrapper {
    margin-top: 20px;
  }

  .last-block-wrapper {
    margin-bottom: 20px;
  }
}

@media (max-width: 360px) {
  .picture {
    max-width: 140px;
  }
  .text {
    font-size: 0.39rem;
  }

  .logo {
    width: 18px;
  }

  .footer_text {
    font-size: 0.3rem;
  }

  .support {
    margin-top: 13px;
  }

  .project-date {
    top: -5%;
  }

  .video-container {
    margin: 0 -5% -50px -5%;
  }

  
  .video-container iframe,
  .video-container object,
  .video-container embed {
    height: 45%;
  }

  .video-date {
    right: -10%;
  }
}

@media (max-width: 350px) {
  .cover-text {
    font-size: 0.6rem;
    top: 42%;
  }

  .event-wrapper {
    margin: 0 10px 10px -40px;
    padding: 0 10px 0 0;
  }

  .date-wrapper {
    margin: 10px -40px 0 10px;
  }

  .text-point {
    margin: 0 0 0 0;
  }

  .project-date {
    text-align: start;
    padding-left: 20px;
  }

  .project-date {
    top: -7%;
  }

  .icon-position {
    bottom: 40px;
    right: 10px;
  }

  .icon-style {
    height: 30px;
    width: 30px;
  }
}

@media (max-width: 330px) {
  .event-wrapper {
    margin: 0 10px 10px -35px;
  }

  .video-container {
    margin: 0 0 -50px 0;
  }

  .video-container iframe,
.video-container object,
.video-container embed {
  max-height: 60%;
}

  .text {
    font-size: 0.35rem;
  }

  .point-wrapper.fixed {
    height: 14px;
    width: 14px;
    box-shadow: 0 0 5px 2px aliceblue;
  }

  .first-point-blank {
    margin: -5px 0 0 -5px;
    height: 14px;
    width: 14px;
  }

  .video-date {
    right: -5%;
  }
}

@media (max-width: 320px) {
  .logo {
    width: 15px;
  }
}

@media (max-width: 305px) {
  .event-box {
    overflow-x: visible;
  }

  .icon-position {
    bottom: 50px;
  }
}
