/* styles reset */

*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html, body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: #28282B;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}

.App {
  width: 100%;
  height: 200vh;
  overflow: visible;

}


/*! color-pallete */

:root {
  --bg-main: #343434;
  --text-main: aliceblue;
  --polaroid-bg: #fff;
  --maxident: #e47cad;
  --oddinary: #04bb21;
  --noeasy: #1a0ff4;
}

/* gradients */
.maxident-to-bg {
  background: linear-gradient(to bottom, var(--bg-main) 10%, var(--maxident) 30%);

}

.maxident-era {
  background-color: var(--maxident);
}

.maxident-to-oddinary {
  background: linear-gradient(to bottom, var(--maxident) 60%, var(--oddinary));
}

.oddinary-era {
  background-color: var(--oddinary);
}

.oddinary-to-noeasy {
  background: linear-gradient(to bottom, var(--oddinary) 60%, var(--noeasy));
}

.noeasy-era {
  background-color: var(--noeasy);
}

.oddinary-to-bg {
  background: linear-gradient(to bottom, var(--oddinary) 60%, var(--bg-main));

}

/*! main styles */

.event-box {
  position: relative;
  display: grid;
  max-width: 1000px;
  margin: 0 auto;
  overflow: visible;
}

.to-bottom-button {
  position: absolute;
  top: 97vh;
  width: 30px;
  height: 20px;
  background-color: #1a0ff4;
}

.to-top-button {
  width: 30px;
  height: 20px;
  position: fixed;
  bottom: 0;
}

/*! Footer */

.footer_wrapper {
  color: var(--text-main);
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  margin: 20px 0 30px 0;
}

.footer-container_left {
display: inline-grid;
}

.footer-container_center {
  display: inline-grid;
  margin-left: 15px;
}

.footer-container_right {
  display: inline-grid;
  margin-left: 30px;
}

.group-container {
  display: grid;
  margin-top: 10px;
}

.footer_text {
  font-size: 16px;
  padding: 10px;
}

.link {
  color: var(--text-main);
  text-decoration: none;
}

#support {
  padding-left: 15px;
}

.logo_wrapper-1 {
  display: flex;
  justify-content: center;

}

.logo_wrapper-2 {
  display: flex;
}


.logo {
  width: 25px;
  margin: 0 12px 5px 0;
}


.point-wrapper {
  display: inline;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  z-index: 2;
  position: relative;
  top: -5%;
  margin-left: -10px;
  background-color: aliceblue;
  transition: position 160ms ease-in;
}

.point-wrapper.fixed {
  opacity: 1;
  background-color: aliceblue;
  box-shadow: 0 0 10px 4px aliceblue;
  position: fixed;
  top: 45%;
  margin-top: 5rem;
}