@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');

/* styles reset =============================================================================== */

*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html, body {
  height: 100%;
}
body {
  line-height: 1.5;
  background-color: #28282B;
  height: 100%;

}
img, picture, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

.App {
  width: 100%;
  overflow: visible;
}


/*! color-pallete ================================================================================================== */

:root {

  font-size: 28px;
  --doc-height: 100%;
  --doc-width: 100%;

  --bg-main: #343434;
  --text-main: aliceblue;
  --polaroid-bg: #fff;
  --maxident: #e47cad;
  --oddinary: #04bb21;
  --noeasy: #1a0ff4;
}

/* gradients =============================================================================================================================== */
.maxident-to-bg {
  background: linear-gradient(to bottom, var(--bg-main) 10%, var(--maxident) 30%);

}

.maxident-era {
  background-color: var(--maxident);
}

.maxident-to-oddinary {
  background: linear-gradient(to bottom, var(--maxident) 60%, var(--oddinary));
}

.oddinary-era {
  background-color: var(--oddinary);
}

.oddinary-to-noeasy {
  background: linear-gradient(to bottom, var(--oddinary) 60%, var(--noeasy));
}

.noeasy-era {
  background-color: var(--noeasy);
}

.oddinary-to-bg {
  background: linear-gradient(to bottom, var(--oddinary) 60%, var(--bg-main));

}

/*! main styles  ===============================================================================================================================*/

h3::selection {
  background: #708090; /* Цвет фона */
 }

p::selection {
  background: #708090; /* Цвет фона */
 }

/* Main wrapper */
.event-box {
  position: relative;
  display: grid;
  max-width: 1150px;
  margin: 0 auto;
  overflow: visible;
}

/* Scroll button */

.icon-position{
  position: fixed;
  bottom: 40px;
  right: 25px;
  z-index: 20;
}

.icon-style{
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 20%;
  height: 50px;
  width: 50px;
  color: #fff;
  cursor: pointer;
  opacity: 0.3;
  transition: all .4s ease-in-out;
}

.icon-style:hover{
  animation: none;
  opacity: 1;
  background: #fff;
  color: var(--bg-main);
}

/* ! Point  =============================================================================================================================== */
.point-wrapper {
  display: inline;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  z-index: 2;
  position: relative;
  margin-left: -10px;
  opacity: 0;
  transition: position 160ms ease-in;
}

.point-wrapper.fixed {
  opacity: 1;
  background-color: aliceblue;
  box-shadow: 0 0 10px 4px aliceblue;
  position: fixed;
  top: 45%;
  margin-top: 2rem;
}

@media (max-height: 600px) {
  .point-wrapper.fixed {
    margin-top: 0;
  }
}

@media (max-height: 510px) {
  .point-wrapper.fixed {
    margin-top: -2rem;
  }
}

@media (max-height: 430px) {
  .point-wrapper.fixed {
    top: 50%;
    margin-top: -3rem;
  }
}

@media (max-height: 350px) {
  .point-wrapper.fixed {
    top: 55%;
    margin-top: -3rem;
  }
}

/*! Footer */

.footer_wrapper {
  color: var(--text-main);
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 2;
  margin: 20px 0 30px 0;
}

.project-desciption {
  display: inline-grid;
  padding-left: 20px;
}

.footer_text {
  font-size: 0.55rem;
}

.link_container {
  width: 100%;
  margin-bottom: 10px;
  display: inline-grid;
  justify-self: center;
}

.project-date {
  display: inline-grid;
  width: 100%;
  text-align: center;
}

.logo_container {
  display: flex; 
  justify-content: center;
}

.link-text {
  width: 100%;
  text-align: center;
}

.logo {
  display: inline-flex;
  width: 25px;
  margin: 0 20px 0 0;
}

.support .logo {
  margin: 0 10px 0 15px;
}